body{
    background-color: #FEFAE0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #283618;
}
h2{
    font-weight: bold;
    color: #333d29;
    font-size: large;
}
h3{
    font-weight: normal;
    color: #333d29;
    font-size: medium;
}
p{
    color: black;
    font-family: sans-serif;
    font-size: 1.2em;
    
}
#skip{
    position: absolute;
    left: -500px;
}
#skip:focus{
    position: static;
    
}

header{
    text-align: center;
    /* padding: 10px; */
    /* background-position: center;
    background-size: cover; */
}
#headDiv{
    border-radius: 20px;
    
}

#headDiv img{
    z-index: -1;
    position: absolute;
    opacity: 0.2;
    height: 200px;
    top: 0;
    left: 0;
    width: 100%;

}
header h3{
    text-align: justify;
    font-size: large;
    font-weight: normal;
}

li{
    color: #111d13;
    font-size: normal;
    
}
.mainDiv{
    align-items: center;
    align-content: center;
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mainDiv img{
    opacity: 0.1;
    width: 40%;
    border-radius: 10%;
    transition-property:opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    border: 2px solid #283618;
    padding: 20px;
    border-radius: 15%;
}
.mulBtn {
    background-color: #d4a373;
    /* width: 30%;
    height: 100px; */
    border-style: outset;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    transition-property: background-color, border-radius;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    border-radius: 10%;
    text-align: center;
    align-items: center;
    display: inline-block;
    height: 100px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;   
}
.mainDiv a{
    text-decoration: none;
    color: #333d29;
    border: none;
}
.mainDiv a:link{
    color: #111d13;

}
.mainDiv:hover div{
    cursor: pointer;
    background-color: #eeb57c;
    border-radius:40px;
}
.mulBtn:active{
    cursor: pointer;
    background-color: #eeb57c;
    border-radius:60px;
}


.mainDiv:hover img{
    opacity: 1;
    
}
a{
    text-decoration: none;
    
}
footer{
    background-color:#faedcd;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: monospace;
    font-size: 1.2em;
}

/* footer a:visited, a:link{
    color: #111d13;
} */
footer img{
    width: auto;
    height: 1em;
}
#headerFP{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
